<h1>[-test-]</h1>
<?=head/title:{"title":"<?=head/stamp?>","name":"1234"}?>
<h1>{{.PageTitle}}</h1>

<script src="http://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    var settings = {
        "url": "http://node0.s4blab.com:8000/api/networks/ping",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        "data": {
            "test1": "123",
            "test2": "321",
            "test3":{"name":"OHM","age":32},
            "test4":[1,2,3,4]
        }
    };

    $.ajax(settings).done(function (response) {
        console.log(response);
    });
</script>